<div class="container-fluid">
  <div class="row">
    <div class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="user-menu">
              <ul>
                <!-- <li>
                  <a href="#"><i class="fa fa-user"></i> My Account</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-heart"></i> Wishlist</a>
                </li> -->
                <li>
                  <a *ngIf="isAuthenticated()" routerLink="/cart"><i class="fa fa-user"></i> My Cart</a>
                </li>
                <li>
                  <a *ngIf="isAuthenticated()" routerLink="/checkout"><i class="fa fa-user"></i> Checkout</a>
                </li>
                <li *ngIf="!isAuthenticated()">
                  <a routerLink="login"><i class="fa fa-user"></i> Login</a>
                </li>
                <li *ngIf="!isAuthenticated()">
                  <a routerLink="register"><i class="fa fa-user"></i> Register</a>
                </li>
                <!-- <li>
                  <a *ngIf="isAuthenticated()" href="#"><i class="fa fa-user"></i> Dashboard</a>
                </li> -->
                <li>
                  <a *ngIf="isAuthenticated()" href="" onclick="logout()"><i class="fa fa-user"></i> Logout</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4">
            <div class="header-right">
              <ul class="list-unstyled list-inline">

                <li class="dropdown dropdown-small">
                  <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                      class="key">Language :</span><span class="value">English </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-branding-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="logo">
              <h1>
                <a  href="./"><img src="../../assets/img/medication.png"  style="width: 10%;"/></a>

                <!-- style="    width: 15%;" -->

              </h1>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="shopping-item">
              <a routerLink="/cart">Cart - <span class="cart-amunt">${{ cart.totalPrice }}</span>
                <i class="fa fa-shopping-cart"></i>
                <span class="product-count">{{ cart.items.length }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainmenu-area">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="">Home</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/products">Shop page</a>
              </li>
              <li *ngIf="showAdminComponent()" routerLinkActive="active">
                <a routerLink="/admin">Admin</a>
              </li>
              <!-- Uncomment the following lines as needed -->
              <!-- <li *ngIf="isadmin" routerLinkActive="active">
                <a routerLink="/admin">Admin</a>
              </li> -->
              <!-- <li routerLinkActive="active">
                <a routerLink="/product/1">Single product</a>
              </li> -->
              <li *ngIf="isAuthenticated()" routerLinkActive="active">
                <a routerLink="/cart">Cart</a>
              </li>
              <!-- <li *ngIf="isAuthenticated()" routerLinkActive="active">
                <a routerLink="/checkout">Checkout</a>
              </li> -->
              <!-- <li routerLinkActive="active">
                <a routerLink="#">Category</a>
              </li> -->
              <!-- <li routerLinkActive="active">
                <a routerLink="#">Others</a>
              </li> -->
              <!-- <li routerLinkActive="active">
                <a routerLink="#">Contact</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>